

.heropage 
{
  background-image: url('../src/Global/images/Rec.png ');
  z-index: 0;
  inset: 0;
  height: 100%;
  width: 100%;
  background-size: contain;
  .heropageimg
  {
    .img1 
    {
      transform: translate(90%, 100%);
      height: 200px;
    }
    .img2 
    {
      transform: translate(20%,50%);
      height: 250px;
      transform: rotate(317deg);
    }
    .img3 
    {
      transform: translate(97%, -110%);
    }
  }
}
