

.heropage 
{
  background-image: url('../src/Global/images/bg2.png');
  z-index: 0;
  inset: 0;
  clip-path: ellipse(100% 60% at 48% 44%);
  .heropageimg
  {
    .img1 
    {
      transform: translate(90%, 100%);
      height: 200px;
    }
    .img2 
    {
      transform: translate(20%,50%);
      height: 250px;
      transform: rotate(317deg);
    }
    .img3 
    {
      transform: translate(97%, -110%);
    }
  }
}
